@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* CSS for pulse animation */
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

/* CSS for Start Button (pulse animation) */
.start-button {
  animation: pulse 1s infinite;
}

/* CSS for Connect Wallet button hover effect */
.connect-wallet:hover {
  background-color: #111a5e;
  animation: pulse 1s infinite;
}

/* CSS for spaceship fire effect */
@keyframes spaceshipFade {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

.menuspaceship {
  animation: spaceshipFade 4s infinite;
}

/* CSS for pulse effect on hover */
.pulse-on-hover:hover {
  animation: pulse 1s infinite;
}
